<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.blog.dao.CommentDao">

    <insert id="addComment" parameterType="com.wl.blog.entity.Comment">
        <selectKey resultType="java.lang.Integer" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() as id;
        </selectKey>
        insert into tb_comment (blogId,commentUserId,commentContant,createTime,pid) values (
        #{blogId},#{commentUserId},#{commentContant},#{createTime},#{pid}
        )
    </insert>

    <delete id="deleteCommentById" parameterType="java.lang.Integer">
        delete from tb_comment where id=#{id}
    </delete>

    <select id="getLlistByPid" resultType="com.wl.blog.Dto.CommentDto">
        SELECT tc.blogId,tc.id,tc.commentUserId,tc.commentContant,tc.createTime,tc.pid, tu.username ,tuu.timage
        FROM tb_comment tc
        INNER JOIN tb_user tu ON tu.id = tc.commentUserId
        inner join tb_userinfo tuu on tuu.userId = tc.commentUserId
        WHERE tc.blogId=#{blogId}
        ORDER BY tc.createTime
    </select>

    <select id="commentNum" resultType="java.lang.Integer">
        SELECT COUNT(*) from tb_comment WHERE blogId=#{blogId} and pid=#{pid}
    </select>

    <select id="isUser" resultType="java.lang.Integer">
        select commentUserId from tb_comment where id=#{id}
    </select>
</mapper>