<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.blog.dao.LikeDao">

    <insert id="addLike" parameterType="com.wl.blog.entity.Like">
        <selectKey resultType="java.lang.Integer" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() as id;
        </selectKey>
        insert into tb_like(likeNumb,userStatus,blogId,userId) values (
        #{likeNumb},
        #{userStatus},
        #{blogId},
        #{userId}
        )
    </insert>

    <select id="getLikeStatusByUserId" resultType="java.lang.Integer">
        select userStatus from tb_like where userId=#{userId} and blogId=#{blogId}
    </select>

    <select id="getLikeNum" resultType="java.lang.Integer">
        SELECT COUNT(*) as likeNum FROM tb_like where userStatus =#{userStatus} and blogId=#{blogId}
    </select>

</mapper>